<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Intrare</title>
</head>
<body>
    <h2 style="color: #5e9ca0; text-align: center;">
        <strong>
            <span style="color: #000000;">Has recibido una invitaci&oacute;n de la empresa</span>
        </strong>
    </h2>
    <p style="text-align: center;">
        <span style="background-color: #2b2301; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">{{ empresa }}</span>
    </p>
    <p style="text-align: center;">Solo muestra el siguiente codigo en la caseta de la entrada</p>
    <p style="text-align: center;">Fecha y Hora: {{ fecha }}</p>
    <p style="text-align: center;"><strong>
        <img src="https://api.qrserver.com/v1/create-qr-code/?data={{ codigo }}&ecc=M" alt="Codigo QR" width="200" height="200" /></strong></p>
    <p style="text-align: center">
        <strong>
            <span style="color: #000000;">Codigo:{{ codigo }}</span>
        </strong>
    </p>
    <br>
    {% if secEqus %}
    <p>Equipo de seguridad Necesario:</p>
    <ul>
        {% for secEqu in secEqus %}
            <li><strong>{{ secEqu }}</strong></li>
        {% endfor %}
    </ul>
    {% else %}
        <p style="text-align: center"><strong>Equipo de seguridad No Requerido</strong></p>
    <br>
    {% endif %}

    <p style="text-align: center">
        <br>
        <a href={{downloadFile}}>
            <img width="150" height="50" src="https://support.apple.com/library/content/dam/edam/applecare/images/es_ES/iOS/add-to-apple-wallet-logo.png"
                                         title = "Agregar Wallet" alt="Agregar a Wallet">
        </a>
    </p>

</body>
</html>

