<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h2 style="color: #5e9ca0; text-align: center;">
        <strong>
            <span style="color: black;">Tu Invitado ha llegado</span>
        </strong>
    </h2>
    <p style="text-align: center;">
        <span style="background-color: #2b2301; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;"> Invitado: {{ guestName }}</span>
    </p>
    <p style="text-align: center;">Proviene de: {{ from }}</p>
</body>
</html>