<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <title>Intrare</title>
</head>
<body>
<h2>Bienvenido a Intrare!</h2>
<h2 style="color: #5e9ca0; text-align: center;">
    <strong>
        <span style="color: #000000;">Tu empresa ahora usa Intrare</span>
    </strong>
</h2>
<p>Tu empresa puede reenviar invitaciones y gestionar empleados.
    Para terminar el proceso y disfrutar del sistema Intrare favor de seguir los siguientes pasos:
    <ol>
    <li>Ingresé al sistema usando la dirección https://empresas.intrare.app</li>
    <li>Tu usuario es el email al que te llegó el presente mensaje y la contraseña de Acceso a Intrare es:
        <strong>{{ password }}</strong></li>
    <li>Añade al menos una área (ej. Entregas)</li>
    <li>Añade a tus empleados</li>
</ol>
<br>
<br>
<br>
Usted tiene acceso al sistema intrare, con características limitadas. Si quieres saber los beneficios de usar el sistema completo ponte en contacto con ventas@intrare.app .
    Si quieres saber los beneficios de usar el sistema completo ponte en contacto
    con <strong>ventas@intrare.app</strong> .
</body>
</html>