<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intrare</title>
</head>
<body>
<h2>Bienvenido a Intrare!</h2>
<h2 style="color: #5e9ca0; text-align: center;">
    <strong>
        <span style="color: #000000;">Tu empresa ahora usa Intrare</span>
    </strong>
</h2>
<p style="text-align: center;">Tu empresa puede reenviar invitaciones y gestionar empleados. Usted tiene acceso al sistema intrare, con
    caracter&iacutesticas limitadas. Si quieres saber los beneficios de usar el sistema completo ponte en contacto
    con <strong>ventas@intrare.app</strong> .
</p>

<br>
<br>
<p>
    Tu contraseña de Acceso a Intrare es:<strong>{{ password }}</strong>.
</p>
<br>
</body>
</html>